{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <h3 >Results for <span class="text-info">"{{ request.GET.search }}"</span>:</h3>
            <hr>
            {% for result in results %}
            <div class="row">
                <div class="col-8 my-4">
                    <h4>{{result.name}}</h4>
                    <div>
                        <canvas id="myChart{{ forloop.counter0 }}" width="400" height="200"></canvas>
                        <script>
                            var ctx = document.getElementById("myChart" + {{ forloop.counter0 }});
                            
                            var dates = {{ result.dates|safe }};
                            var prices = {{ result.prices|safe }};
                            
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: dates,
                                    datasets: [{
                                        label: 'Daily Price Changes',
                                        data: prices,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255,99,132,1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            },
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Price ( $ )'
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>     
    </div>
</div>
{% endblock %}